.dropdown {
  position: relative;
  button {
    background-color: #f1faff;
    color: #23a3f7;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    span {
      margin-right: 10px;
    }
    img {
      width: 15px;
    }
    &:hover {
      background-color: #009ef7;
      span {
        color: #fff;
      }
    }
  }
  .content {
    width: 150px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 4px #0000000c;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    position: absolute;
    z-index: 999;
    button {
      cursor: pointer;
      justify-content: end;

      padding: 10px 5px;
      background-color: #ffffff;
      color: #a2a6b6;
      text-align: right;
      &:hover {
        background-color: #f1faff;
        color: #23a3f7;
      }
    }
  }
}
