.dropdown {
  position: relative;
  button {
    background-color: #f1faff;
    color: #23a3f7;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    span {
      margin-right: 10px;
    }
    img {
      width: 15px;
    }
    &:hover {
      background-color: #009EF7;
      span {
        color: #fff;
      }
    }
  }
  .content {
    width: 200px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #00000008;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    position: absolute;
    button {
      cursor: pointer;
      padding: 10px 5px;
      background-color: #ffffff;
      color: #a2a6b6;
      &:hover {
        background-color: #f1faff;
        color: #23a3f7;
      }
    }
  }
}
