.filterField {
  label {
    color: #181c32;
    font-weight: 500;
    font-size: 13px;
  }
  input {
    display: inline-block;
    padding: 10px 15px;
    background-color: #f5f8fa;
    width: 100%;
    margin-top: 5px;
    outline: none;
    color: #B8BBC8;
    &:focus {
      background: #eef3f7;
    }
  }
}
