.sidebar {
  background-color: #1e1e2d;
  color: #fff;
  height: 100vh;
  width: 100%;
  nav {
    .sidebarLogo {
      display: flex;
      align-items: center;
      padding: 13px 20px;
      color: #fff;
      border-bottom: 1px solid rgba(255, 255, 255, 0.11);
      img {
        width: 50px;
      }
      h2 {
        font-weight: 400;
        margin-left: 15px;
        font-size: 18px;
      }
    }
    .sidebarMenu {
      li {
        a {
          display: grid;
          align-items: center;
          grid-template-columns: 1fr 100px 15px;
          padding: 13px 20px;
          transition: all 0.2s;
          cursor: pointer;
          &:hover {
            background-color: #1b1b2a;
            color: #fff;
            span {
              color: #fff;
            }
            img {
              opacity: 1;
            }
            p {
              color: #fff;
            }
          }
          span {
            color: #c5c5d8;
          }
          button {
            font-size: 16px;
            color: #c5c5d8;
          }
          p {
            color: #ffffff59;
          }
          img {
            width: 15px;
            opacity: 0.6;
          }
        }
        button {
          margin-right: 24px;
          transition: all 0.2s;
          cursor: pointer;
          &:hover {
            background-color: #1b1b2a;
            color: #fff;
            span {
              color: #fff;
            }
            img {
              opacity: 1;
            }
            p {
              color: #fff;
            }
          }
          span {
            color: #c5c5d8;
          }
          button {
            font-size: 16px;
            color: #c5c5d8;
          }
          p {
            color: #ffffff59;
          }
          img {
            width: 15px;
            opacity: 0.6;
          }
        }
        :first-child {
          opacity: .4;
        }
      }
    }
  }
}
