.reports {
    display: flex;
    justify-content: space-between;
    background-color: #f5f8fa;
  
    .content {
      max-width: 1550px;
      width: 100%;
      overflow-x: auto;
      margin: 0 auto;
    }
    .sidebar {
      width: 300px;
    }
  }
  
  .settings {
    display: flex;
    .buttonGroup {
      display: flex;
    }
  }
  
  .table {
    padding: 0 20px 0px 20px;
    background-color: #fff;
    max-width: 1550px;
    .tableSettings {
      display: flex;
      justify-content: space-between;
      padding: 35px 0;
      .tableTerms {
        display: flex;
      }
      .tableControll {
        display: flex;
        .tableControllField {
          display: flex;
          .tableFiledItem {
            background-color: #f5f8fa;
            margin-left: 8px;
            svg {
              opacity: 0.4;
            }
            input {
              color: #a8a8b7;
              display: inline-block;
              padding: 6px 10px;
              width: 80px;
            }
          }
        }
      }
    }
  }
  